html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    background-color: #1a1b26;
    color: #e2e7f5;
}

@media (max-width: 512px) {
    #boxTextLeft {
        text-align: center;
    }
    #boxTextRight {
        text-align: center;
    }
}
