html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    background-color: #1a1b26;
    color: #e2e7f5;
}

.projectItemImage {
    border: 10px solid #7aa2f7;
    border-radius: "10px";
}
